body {
    font-family: 'Orbitron', sans-serif; /* Fuente moderna tipo digital */
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Letra blanca */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reloj {
    font-size: 100px; /* Tamaño grande de la hora */
    letter-spacing: 5px; /* Espaciado entre los números */
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5); /* Sombra luminosa */
}