body {
    background-color: #2f2f2f; /* Gris oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.reloj {
    background-color: black;
    color: #ffffff;
    font-size: 80px;
    padding: 40px 80px;
    border-radius: 10px;
    text-shadow: 0 0 10px #ffffff;
    letter-spacing: 3px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}